//
// Color system
//
$color-primary-0: #004877;	// Main Primary color */
$color-primary-1: #0178C6;
$color-primary-2: #005A94;
$color-primary-3: #00375B;
$color-primary-4: #00233A;

$color-secondary-1-0: #BA9E00;	// Main Secondary color (1) */
$color-secondary-1-1: #FFD900;
$color-secondary-1-2: #E7C500;
$color-secondary-1-3: #8F7900;
$color-secondary-1-4: #5B4D00;

$color-secondary-2-0: #AF001F;	// Main Secondary color (2) */
$color-secondary-2-1: #F5002B;
$color-secondary-2-2: #D90026;
$color-secondary-2-3: #860018;
$color-secondary-2-4: #55000F;

$color-secondary-3-0: #BA6800;	// Main Third color (3) */
$color-secondary-3-1: #FF8E00;
$color-secondary-3-2: #E78100;
$color-secondary-3-3: #8F5000;
$color-secondary-3-4: #5B3300;

// Propiedades de elementos
$enable-rounded: false;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

$btn-border-width: 0;

$font-size-base:              0.85rem !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
         "color-primary-0": $color-primary-0,
          "color-primary-1": $color-primary-1,
          "color-primary-2": $color-primary-2,
          "color-primary-3": $color-primary-3,
          "color-primary-4": $color-primary-4,
          "color-secondary-1-0": $color-secondary-1-0,
          "color-secondary-1-1": $color-secondary-1-1,
          "color-secondary-1-2": $color-secondary-1-2,
          "color-secondary-1-3": $color-secondary-1-3,
          "color-secondary--1-4": $color-secondary-1-4,
          "color-secondary-2-0": $color-secondary-2-0,
          "color-secondary-2-1": $color-secondary-2-1,
          "color-secondary-2-2": $color-secondary-2-2,
          "color-secondary-2-3": $color-secondary-2-3,
          "color-secondary-2-4": $color-secondary-2-4,
          "color-third-3-0": $color-secondary-3-0,
          "color-third-3-1": $color-secondary-3-1,
          "color-third-3-2": $color-secondary-3-2,
          "color-third-3-3": $color-secondary-3-3,
          "color-third-3-4": $color-secondary-3-4,
  ),
  $theme-colors
);
