<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0,
                      maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Minuta</title>
    <link rel="stylesheet" href="Templates/Css/tailwind.css">
</head>
<body class="p-4 text-gray-800">
<header class="w-100 max-w-4xl mx-auto">
    <div class="flex flex-row justify-between">
        <div>
            <img
                class="h-12"
                src="{logo}"
                alt="Logo"
            />
        </div>
        <div class="my-auto">
            <p class="font-bold leading-tight text-right">
                CEM-DIR-FOR-01 Rev. 0
            </p>
        </div>
    </div>
</header>
<main class="bg-gray-100 mt-6 max-w-4xl p-4 mx-auto rounded shadow-md">
    <h1
        class="text-3xl font-bold md:text-4xl leading-tight text-center mb-4 md:mb-6"
    >
        Minuta de Reunión
    </h1>
    <p class="text-right mb-5">
				<span><strong>Motivo: </strong>Ampliación de monto y plazo</span
                ><br/>
        <span><strong>Fecha: </strong>08-09-2020</span><br/>
        <span><strong>Lugar: </strong>Quéretaro</span><br/>
        <span><strong>Inicio: </strong>11:12 a.m.</span><br/>
        <span><strong>Fin: </strong>15:45 p.m.</span>
    </p>
    <div class="mb-8">
        <h2 class="tracking-tighter font-bold mb-3">Participantes</h2>
        <div class="list">
            <ol class="list-decimal list-inside">
                <li class="mb-2">
                    <span class="mr-3">Luis Juarez Hidalgo</span>
                    <span
                        class="bg-green-600 px-2 py-1 rounded-lg text-white text-xs font-semibold tracking-widest"
                    >
								LJH
							</span>
                </li>
                <li class="mb-2">
                    <span class="mr-3">Luis Juarez Hidalgo</span>
                    <span
                        class="bg-green-600 px-2 py-1 rounded-lg text-white text-xs font-semibold tracking-widest"
                    >
								LJH
							</span>
                </li>
                <li class="mb-2">
                    <span class="mr-3">Luis Juarez Hidalgo</span>
                    <span
                        class="bg-green-600 px-2 py-1 rounded-lg text-white text-xs font-semibold tracking-widest"
                    >
								LJH
							</span>
                </li>
                <li class="mb-2">
                    <span class="mr-3">Luis Juarez Hidalgo</span>
                    <span
                        class="bg-green-600 px-2 py-1 rounded-lg text-white text-xs font-semibold tracking-widest"
                    >
								LJH
							</span>
                </li>
                <li class="mb-2">
                    <span class="mr-3">Luis Juarez Hidalgo</span>
                    <span
                        class="bg-green-600 px-2 py-1 rounded-lg text-white text-xs font-semibold tracking-widest"
                    >
								LJH
							</span>
                </li>
            </ol>
        </div>
    </div>
    <div class="mb-8">
        <h2 class="tracking-tighter font-bold mb-2">Asunto(s)</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
            adipisci amet aperiam beatae ducimus eaque earum id ipsa
            ipsum, itaque, minus nemo nesciunt non nostrum quam sit
            soluta unde velit!
        </p>
    </div>
    <div class="mb-8">
        <p class="font-bold inline-flex leading-tight mb-2">Acuerdos</p>
        <ol class="list-decimal list-outside">
            <li
                class="ml-4 border-solid border-t-2 py-1 border-orange-600 mb-4"
            >
                Para el 1 solo son los acuses los que se recibirán. \n
                Es un archivo excel y se valida con su recepción. El
                documento nos lo han entregado. - Archivo Excel de
                aforos e ingresos por plaza, separada en carpetas por
                tramo independiente. (ingreso total el de sistema es el
                reportado. El interno contiene la totalidad de
                información) - Existe un acuse del total de la
                información. - Motivos de inexactitud del reporte, el
                SAASCAEM es quien deberá de avisar al CEM
                <p class="font-semibold leading-tight mt-3">
                    Fecha de compromiso
                </p>
                <p class="inline-block ml-2 mt-2">08-09-2020</p>
                <p class="font-semibold leading-tight mt-3">
                    Responsable
                </p>
                <p
                    class="inline-block ml-2 mt-2 px-2 bg-blue-500 text-white rounded-lg"
                >
                    Dennis Montores Felix
                </p>
            </li>
            <li
                class="ml-4 border-solid border-t-2 py-1 border-orange-600 mb-4"
            >
                Para el 1 solo son los acuses los que se recibirán. \n
                Es un archivo excel y se valida con su recepción. El
                documento nos lo han entregado. - Archivo Excel de
                aforos e ingresos por plaza, separada en carpetas por
                tramo independiente. (ingreso total el de sistema es el
                reportado. El interno contiene la totalidad de
                información) - Existe un acuse del total de la
                información. - Motivos de inexactitud del reporte, el
                SAASCAEM es quien deberá de avisar al CEM
                <p class="font-semibold leading-tight mt-3">
                    Fecha de compromiso
                </p>
                <p class="inline-block ml-2 mt-2">08-09-2020</p>
                <p class="font-semibold leading-tight mt-3">
                    Responsable
                </p>
                <p
                    class="inline-block ml-2 mt-2 px-2 bg-blue-500 text-white rounded-lg"
                >
                    Alejandro Torres
                </p>
            </li>
        </ol>
    </div>
</main>
</body>
</html>
